html{
	background-color: blue;
	text-align: center;
    font-size: 50px;
}
#instapage{
	background-image: url(images/retina_wood.png);

}
#loginpage{
	background-image: url(images/lightpaperfibers.png);

}
body{
	margin-left: 5%;
	font-family: 'Shadows Into Light', cursive;
	height: 1000px;
}
img{
	margin: 10px;
}
button{
	height: 50px;
	width: 200px;
	font-size: 30px;
}
button:hover{
	background-color: gray;
	color: white;
}
.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}
@media (max-width: 375px) {
	body {
		font-size: 50px;
	}
	button{
		height: 50px;
	}
}
/*@media (max-width: 1024px) {
	body {
		width: 100%;
	}
	button{
		height: 100px;
		width: 300px;
		font-size: 60px;
	}
	img{
		width: 800px;
	}
}*/